
.toggle {
    position: relative;
    width: 100px;
    height: 40px;
    display: block;
    background: url('/img/anime-sunset.gif');
    background-size: cover;
    background-position: center;
    border: 3px solid rgba(198, 247, 253, 0.3);
    border-radius: 40px;
    cursor: pointer;
    transition: 1s ease;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}

.toggle::after {
    content: '';
    position: absolute;
    height: 25px;
    width: 25px;
    background: url('/img/sun-behind-large-cloud-svgrepo-com.svg');
    background-size: cover;
    border-radius: 50%;
    top: 4px;
    left: 4px;
    transition: 0.8s ease;
    box-shadow: 0·0 10px rgba(0, 0, 0, 0.2);
}

.toggle::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 20px;
    border: 15px solid rgba(198, 247, 253, 0.623);
    border-radius: 50%;
    top: 2px;
    left: 2px;
    transition: 0.8s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.18);
}

input:checked~.toggle::after {
    left: 93px;
    transform: translateX(-100%);
    background: url('/img/moon-cloudy-svgrepo-com.svg');
    background-size: cover;
    filter: brightness(0) invert(1); /* Mengubah warna SVG menjadi putih */
}

input:checked~.toggle::before {
    left: 95px;
    border: 15px solid rgba(56, 48, 87, 0.685);
    transform: translateX(-100%);
}

input:checked~.toggle {
    background: url('/img/stars-night.gif');
    background-size: cover;
    background-position: center;
    border: 3px solid rgba(90, 79, 136, 0.2);
}

input {
    display: none;
}

.hidden-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.input:checked~.toggle::after svg {
    fill: white; /* Ubah warna SVG menjadi putih */
}